node_modules
.next/
.husky/
coverage
next-env.d.ts
next.config.js
jest.setup.js
jest.config.js
serviceWorker.ts
react-app-env.d.ts
scripts/
build/
jest.config.js
jest.setup.js
.babelrc
ios
android
vendor
babel.config.js
metro.config.js
.eslintrc.js
